<%= live_component @socket, CreateTaskFormComponent, id: :create_task_form, current_user: @current_user %>
<%= live_component @socket, ListComponent, tasks: @tasks %>
<%= live_component @socket, ListComponent, tasks: @completed_tasks %>
